<div class="row">
  {{#each projects as |project|}}
  <div class="col-md-4">
    <div class="card">
      <img src="{{project.img_url}}" alt="house place holder" class="card-img-top" height="300px" width="300px">
      <div class="card-body">
        <p>Beautiful Property for Sale</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Property Address: {{project.address}}, {{project.city}}, {{project.state}}, {{project.zipCode}}</li>
          <li class="list-group-item">Listing ID: {{project.listing_id}}</li>
          <li class="list-group-item">Property Price: ${{project.price}}</li>
        </ul>
      </div>
    </div>
  </div>
  {{/each}}
</div>